<script>
  let UserLogged = '<% typeof user.name !== "undefined" ? user.name : null  %>';
</script>

<div class="sc-bTDOke dXiuJH winter--snow_background">
   <button class="sc-dsXzNU iqNwfp burger">
      <div></div>
      <div></div>
      <div></div>
   </button>
   <div class="sc-lbVvki ghCdOs">
      <div class="sc-dFRpbK bFgzLZ"><a aria-current="page" class="logo active" href="/">
            <img src="https://www.pikpng.com/pngl/b/54-540351_point-blank-pointblank-png-clipart.png" alt="Gamdom Logo"
               width="50"></a>
      </div>
      <div class="sc-hOPeYd eXirsP" style="border-bottom: solid; background-color: transparent;"><a href="#">Trades</a>
      </div>
      <div class="sc-hOPeYd eXirsP" style="border-bottom: solid; background-color: transparent;"><a href="/app/roullete">Roullete</a>
      </div>
   </div>
   <% if (!user.name) { %>
      <div class="sc-fXazdy UjHkE">
         <div class="sc-fuISkM cHQuCr">
            <div class="sc-cOifOu haQoIp" style="background-color: transparent;"><button
                  class="sc-hTRkXV sc-hhIiOg sc-eirqVv enlJuL iwisNA dSzotL">Login</button></div>
         </div>
      </div>
      <% }else{ %>
         <div class="sc-fXazdy UjHkE">
            <div class="sc-fuISkM cHQuCr">
               <div class="dropdown text-end">
                  <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                     data-bs-toggle="dropdown" aria-expanded="false">
                     <img src="<%= user.personalization[0].picture %>" alt="mdo" width="32" height="32"
                        class="rounded-circle" />
                  </a>
                  <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                     <li><a class="dropdown-item" href="#">New project...</a></li>
                     <li><a class="dropdown-item" href="#">Settings</a></li>
                     <li><a class="dropdown-item" href="#">Profile</a></li>
                     <li>
                        <hr class="dropdown-divider" />
                     </li>
                     <li><a class="dropdown-item logout" href="#">Sign out</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <% }%>
</div>